---
import { Image } from "astro:assets";
import sapsend from "../../public/img/projects/sapsend.png";
import gabrandhouse from "../../public/img/projects/gabrandhouse.png";
import nmas from "../../public/img/projects/nmas.png";
import citytv from "../../public/img/projects/citytv.png";
import bpmlat from "../../public/img/projects/bpm-lat.png";
---

<div class="max-w-screen-xl m-auto p-4" id="projects">
  <h2 class="text-4xl text-gray-700 font-semibold tracking-tighter pb-10">
    Explora mis proyectos de<span class="text-emerald-500">
      Desarrollo a la medida.</span
    >
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-7">
    <div class="bg-[white] p-4 md:p-8 rounded-3xl">
      <div class="pb-4">
        <span class="text-xs font-semibold text-emerald-600">01 Ene 2024</span>
        <a
          href="https://drive.google.com/file/d/1qDfq7xYOBTuHzPp9Pfq2d7gQ83dRDkyQ/view?usp=sharing"
          target="_blank"
          rel="noopener noreferrer"
          ><h3 class="text-slate-800 text-2xl font-bold tracking-tight">
            SAPSEND | Herramienta de Mejora de Procesos BPM
          </h3></a
        >

        <p class="text-base">
          Lideré el desarrollo de una aplicación web que se integra
          eficientemente con SAP Business One, mejorando los procesos internos
          de la empresa.
        </p>
      </div>
      <div>
        <a
          href="https://drive.google.com/file/d/1qDfq7xYOBTuHzPp9Pfq2d7gQ83dRDkyQ/view?usp=sharing"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Image src={sapsend} alt="Imagen" class="rounded-lg" />
        </a>
      </div>
    </div>
    <div
      class="bg-[white] p-4 flex flex-col-reverse md:flex-col md:p-8 rounded-3xl"
    >
      <div class="pb-4">
        <a
          href="http://gabrandhouse.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Image src={gabrandhouse} alt="Gabrandhouse" class="rounded" /></a
        >
      </div>
      <div>
        <span class="text-xs font-semibold text-emerald-600">01 Dic 2023</span>
        <a
          href="http://gabrandhouse.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <h3 class="text-slate-800 text-2xl font-bold tracking-tight">
            GabrandHouse | El hogar de la marca
          </h3>
        </a>
        <p class="text-base">
          Durante mi participación en el proyecto, contribuí significativamente
          al desarrollo de la página web gabrandhouse.com, desempeñando un papel
          integral en la creación de una plataforma online efectiva y atractiva.
        </p>
      </div>
    </div>
    <div
      class="bg-[white] p-4 flex gap-2 flex-col-reverse md:flex-col md:p-8 rounded-3xl md:col-span-2"
    >
      <div class="pb-4">
        <a
          href="https://www.nmas.com.mx/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Image src={nmas} alt="Imagen" class="rounded aspect-video w-full" />
        </a>
      </div>
      <div>
        <span class="text-xs font-semibold text-emerald-600">Feb Ene 2021</span>
        <a
          href="https://www.nmas.com.mx/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <h3 class="text-slate-800 text-2xl font-bold tracking-tighter">
            N+Televisa
          </h3>
        </a>
        <p class="text-base">
          Formé parte integral del equipo encargado del desarrollo de la
          arquitectura de diseño molecular en N+Televisa, donde desempeñé un
          papel crucial al implementar las mejores prácticas, asegurando un
          estándar de calidad pixel perfect.
        </p>
      </div>
    </div>
    <div
      class="bg-[white] p-4 flex gap-2 flex-col-reverse md:flex-col md:p-8 rounded-3xl"
    >
      <div class="pb-4">
        <a
          href="https://citytv.eltiempo.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Image src={citytv} alt="Gabrandhouse" class="rounded" /></a
        >
      </div>
      <div>
        <span class="text-xs font-semibold text-emerald-600">01 Sep 2021</span>
        <a
          href="http://gabrandhouse.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <h3 class="text-slate-800 text-2xl font-bold tracking-tighter">
            CityTv | Noticias
          </h3>
        </a>
        <p class="text-base">
          Formé parte activa del equipo de desarrollo de los componentes
          visuales para citytv.eltiempo.com, destacando mi enfoque en optimizar
          la experiencia de los lectores al acceder a las noticias.
        </p>
      </div>
    </div>
    <div class="bg-[white] p-4 gap-2 md:p-8 rounded-3xl">
      <div class="pb-4">
        <span class="text-xs font-semibold text-emerald-600">01 Feb 2019</span>
        <a
          href="https://www.bpm-lat.com/"
          target="_blank"
          rel="noopener noreferrer"
          ><h3 class="text-slate-800 text-2xl font-bold tracking-tig">
            Transformación Digital para su empresa | BPM-LAT
          </h3></a
        >

        <p class="text-base">
          Dirigí el proceso completo, desde la fase inicial de diseño hasta la
          implementación final, para crear de manera integral el sitio web
          bpm-lat.com.
        </p>
      </div>
      <div>
        <a
          href="https://www.bpm-lat.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Image src={bpmlat} alt="Imagen" class="rounded-lg" />
        </a>
      </div>
    </div>
  </div>
</div>
